<% layout("/layouts/boilerplate") -%>
<!-- <h3>All Listings</h3> -->

<style>
  #parent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  #filters-container {
    display: flex;
    width: 70%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  #filters {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .filter_img {
    width: 30px;
    height: 30px;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.6;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  /* Button Filter Button Styling */
  button#prevBtn,
  button#nextBtn {
    border: none;
    background: none;
  }
  button#prevBtn img,
  button#nextBtn img {
    height: 30px;
    width: 30px;
  }
  .tax_Info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid rgb(45 36 36 / 30%);
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
  }
  /* Additional styling for scrollbar visibility */
  #filters-container::-webkit-scrollbar {
    height: 2px;
  }

  #filters-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  #filters-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  @media (max-width: 768px) {
    button#prevBtn,
    button#nextBtn {
      display: none;
    }
    #filters-container {
      width: 50%;
    }
    .tax-toggle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;
      width: 40%;
    }

    .form-check-label {
      font-size: 0.8rem;
    }

    .form-check-input {
      margin-top: 0.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1230px) {
    #parent-container,
    #filters-container {
      width: 100%;
    }
    .tax-toggle {
      display: none;
    }
  }
</style>
<div id="parent-container">
  <!-- Left Button -->
  <button id="prevBtn" onclick="scrollLeftSide()">
    <img src="/Assets/Images/PrevBtn.svg" alt="" />
  </button>

  <div id="filters-container">
    <div id="filters">
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Surfing.svg"
            alt="Surfing"
          />
        </div>
        <p>Surfing</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/Farm.svg" alt="Farm" />
        </div>
        <p>Farm</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Island.svg"
            alt="Islands"
          />
        </div>
        <p>Islands</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Countryside.svg"
            alt="Countryside"
          />
        </div>
        <p>Countryside</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/City.svg"
            alt="Iconic Cities"
          />
        </div>
        <p>Iconic Cities</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Creativespaces.svg"
            alt="Creative spaces"
          />
        </div>
        <p>Creative spaces</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Camping.svg"
            alt="Camping"
          />
        </div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/Barns.svg" alt="Barns" />
        </div>
        <p>Barns</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Arctic.svg"
            alt="Arctic"
          />
        </div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Castle.svg"
            alt="Castle"
          />
        </div>
        <p>Castle</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Desert.svg"
            alt="Desert"
          />
        </div>
        <p>Desert</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/windmill.svg"
            alt="Windmills"
          />
        </div>
        <p>Windmills</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Skiing.svg"
            alt="Skiing"
          />
        </div>
        <p>Skiing</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Piano.svg"
            alt="Grand Pianos"
          />
        </div>
        <p>Grand Pianos</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Golfing.svg"
            alt="Golfing"
          />
        </div>
        <p>Golfing</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Bed's&Breakfast.svg"
            alt="Farm"
          />
        </div>
        <p>Bed's & Breakfast</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/Play.svg" alt="Play" />
        </div>
        <p>Play</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/OMG!.svg" alt="OMG!" />
        </div>
        <p>OMG!</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Houseboats.svg"
            alt="Houseboats"
          />
        </div>
        <p>Houseboats</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/New.svg" alt="New" />
        </div>
        <p>New!</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/TinyHomes.svg"
            alt="TinyHomes"
          />
        </div>
        <p>Tiny Homes</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/Luxe.svg" alt="Luxe" />
        </div>
        <p>Luxe</p>
      </div>
      <div class="filter">
        <div>
          <img class="filter_img" src="/Assets/Images/Riads.svg" alt="Riads" />
        </div>
        <p>Riads</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Vineyards.svg"
            alt="Vineyards"
          />
        </div>
        <p>Vineyards</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Chef's & Kitchen.svg"
            alt="Chef's kitchens"
          />
        </div>
        <p>Chef's kitchens</p>
      </div>
      <div class="filter">
        <div>
          <img
            class="filter_img"
            src="/Assets/Images/Hanoks.svg"
            alt="Hanoks"
          />
        </div>
        <p>Hanoks</p>
      </div>
    </div>
  </div>

  <!-- Right Button -->
  <button id="nextBtn" onclick="scrollRightSide()">
    <img src="/Assets/Images/NextBtn.svg" alt="" />
  </button>

  <!-- Tax Button -->
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id%>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url%>"
        class="card-img-top"
        alt="Listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay">Like</div>
      <div class="card-body">
        <p class="card-text">
          <b><%=listing.title %></b><br />
          &#8377; <%= Number(listing.price).toLocaleString("en-IN") %> / Night
          <i class="tax_Info"> &nbsp; + 18 % GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax_Info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });

  function scrollLeftSide() {
    const container = document.getElementById("filters-container");
    container.scrollLeft -= 200; // Adjust the value as needed
  }

  function scrollRightSide() {
    const container = document.getElementById("filters-container");
    container.scrollLeft += 200; // Adjust the value as needed
  }
</script>
